<a href="https://colab.research.google.com/github/NKDevi-maker/newone/blob/main/Imbalnce_data_accuracy_math_ml_and_NN_CodeProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown 1CgBW5H54YfdYtJmYE5GWctaHZSpFt71V

Downloading...
From: https://drive.google.com/uc?id=1CgBW5H54YfdYtJmYE5GWctaHZSpFt71V
To: /content/spam_ham_dataset.csv
100% 5.50M/5.50M [00:00<00:00, 28.7MB/s]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('spam_ham_dataset.csv')

In [ ]:
data[['text','label_num']].head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\r\nthis deal is t...          0

In [ ]:
import nltk
import string
from nltk.corpus import stopwords
# Download the stopwords if not already downloaded
nltk.download('stopwords')

def text_preprocess(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in  stopwords.words('english')]
    return " ".join(text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
text_data = []
for text in data['text'].values:
  clean_text = text_preprocess(text)
  text_data.append(clean_text)

In [ ]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer

# Example text data

# Create an instance of TfidfVectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the text data
tfidf_matrix = vectorizer.fit_transform(text_data)

# Print the TF-IDF matrix
print("TF-IDF Matrix:")
print(tfidf_matrix.toarray().shape)

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=15)

# Fit and transform the data
X_pca = pca.fit_transform(tfidf_matrix.toarray())

# Print the transformed data
print("Transformed Data:")
print(X_pca.shape)

In [ ]:
temp = {'label_num':data['label_num'].values}

for i in range(X_pca.shape[1]):
  temp[f'Feature{i}'] = X_pca[:,i]

In [ ]:
dt = pd.DataFrame(temp)

In [ ]:
dt.to_csv('Spam_finalData.csv',index=False)